Installer Steam
Téléchargement gratuit
Disponible aussi pour Mac et Linux.
Accès immédiat aux jeux
Nous avons des milliers de jeux, des jeux d'action aux jeux indépendants, et tout ce qu'il y a entre les deux. Profitez d'offres exclusives, de mises à jour automatiques et plus encore.
Parcourir les jeux
Rejoignez la communauté
Rencontres, groupes, clans, discussions et plus encore ! Avec plus de 100 millions d'amis (ou d'ennemis) potentiels, le plaisir ne s'arrête jamais.
14,058,431 joueurs en ligne
4,022,741 dans un jeu
Rejoindre la communauté
Créez et partagez du contenu
Offrez des cadeaux à vos amis, échangez des objets et créez même du nouveau contenu pour les jeux dans le Steam Workshop. Aidez à façonner l'avenir de vos jeux favoris.
Visiter le Workshop
Le divertissement partout
Que vous soyez sur un PC, Mac, une Linux box, un appareil mobile, ou même sur votre télévision, vous pouvez profiter des avantages de Steam. Emmenez l'amusement avec vous.
Accéder à Steam depuis votre TV
Obtenir Steam pour mobile
Disponible sur PC, Mac et Linux
Nous offrons un catalogue de jeux PC, Mac et Linux, dont beaucoup d'entre eux supportent la fonction Steam Play. Vous pouvez donc acheter le jeu une seule fois et jouer n'importe où, tout en bénéficiant du Multijoueur Cross-Platform vous permettant de jouer avec tous vos amis, peu importe où ils se connectent.

Toujours pas sur Linux ?

Ubuntu est notre version préférée de Linux. Intéressé ? Vous pouvez installer et lancer Linux à partir d'un CD autonome Linux (« Live CD »), d'une clé USB ou en parallèle avec Windows.

Téléchargez l'installeur Ubuntu de Canonical et découvrez de quoi il s'agit.

Ubuntu

<table class="table table-hover">
  <thead>
    <th></th>
    <th>Name</th>
    <th>Genres</th>
  </thead>
  <tbody>
    <tr *ngFor="let g of topGame" (click)="redirect(g)" >
      <td><img src={{g.cover.url}} alt="Cover"></td>
      <td>{{g.name}}</td>
      <td>{{g.genres}}</td>
    </tr>
  </tbody>
</table>
